.product{
    height:400px;
    width: 300px;
    border: 1px solid rgba(66, 23, 66, 0.123);
    margin: 10px;
    
}
.product-image{
    padding: 10px;
}
.product-details{
    margin-left: 5px;
    margin-right: 5px;
}